ul {
  list-style: none;
}
/* ALL KOLOR PORTFOLIO
-- #212121 - #212121 rgba (33, 33, 33, 1)
-- #FFFFFF - #FFFFFF rgba(255, 255, 255, 1)
-- #757575 - #757575 
-- #EEEEEE
-- #2196F3 - #2196F3 
-- #F5F4FA - F5F4FA
-- #000000 - #000000
-- #FFFFFF - #FFFFFF          60% - 
-- #2F303A - #2F303A
-- #ECECEC - #ECECEC
*/
/* INDEX
-- #212121 
-- #FFFFFF 
-- #757575 
-- #2196F3 
-- #000000 
-- #2F303A 
-- #FFFFFF 60%
-- #ECECEC
-- #F5F4FA
*/
:root {
  darck: #212121 rgba (33, 33, 33, 1);
  white: #ffffff;
}
