body {
  background-color: var(--body-prime-color);
  color: var(--text-prime-color);
  font-family: 'Roboto', sans-serif;
}
:root {
  --body-prime-color: #ffffff;
  --body-second-color: #f5f4fa;
  --text-prime-color: #212121;
  --text-second-color: #757575;
  --text-accent-color: #2196f3;
  --botton-prime-color: #f5f4fa;
  --border-color: #eeeeee;
  --link-footer-color: rgba(255, 255, 255, 0.6);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* ========== HEADER======= */
.logo {
  color: #000000;
  text-decoration: none;
}
.blue {
  color: var(--text-accent-color);
}

/* ====Style NAV==== */
.site-nav .link {
  color: var(--text-prime-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--text-accent-color);
}

/* === КОНТАКТЫ  === */
.contakt-header .link {
  color: var(--text-second-color);
}
.contakt-header .link:hover,
.contakt-header .link:focus {
  color: var(--text-accent-color);
}
/* ===========  HEADER FIN  ====== */

/* ===  MAIN  === */
/* ===  HERO  === */
.hero-img {
  background-color: #2f303a;
}
.hero-title {
  font-size: 44px;
  font-weight: 900;
  color: #ffffff;
}
.hero-button {
  color: #ffffff;
  background-color: var(--text-accent-color);
  /* ===  HERO-FIN  === */
}
/* ===  ВСЕ СЕКЦИИ  === */
.section-title {
  font-family: ;
}

.box-title {
  font-family: ;
}
/* ===  СЕКЦИЯ ОСОБЕННОСТИ  === */
.nuanse-title {
  font-family: ;
}
.nuanse-content {
  color: var(--text-second-color);
}
/* === СЕКЦИЯ ЧЕМ МЫ ЗАНИМАЕМСЯ === */

/* === СЕКЦИЯ КОМАНДА === */
.team-title {
  font-family: ;
}
.team-content {
  font-family: ;
  color: var(--text-second-color);
}

/* === FOOTER === */
.div-footer {
  background-color: #2f303a;
}
.logo-footer {
  color: #ffffff;
}
/* === ADDRESS  === */
.address {
  font-style: normal;
}
.address-content {
  color: #ffffff;
}
.contact-footer .link {
  color: rgba(255, 255, 255, 0.6);
}
.contact-footer .link:hover,
.contact-footer .link:focus {
  color: var(--text-accent-color);
}

/* === FOOTER FIN === */
/* === PORTFOLIO PAGE */
/* ---- ВСТАВИТЬ НА ССЫЛКУ CURRENT */
/* === КНОПКИ === */
.button-work {
  background-color: var(--botton-prime-color);
}
.button-work:hover,
.button-work:focus {
  background-color: var(--text-accent-color);
}
/* ===  РАБОТЫ  === */
.portfolio-title {
}
.portfolio-content {
  color: var(--text-second-color);
}
/* ===  FIN  === */
