body {
  background-color: var(--body-prime-color);
  color: var(--text-prime-color);
  font-family: 'Roboto', sans-serif;
}
:root {
  --logo-studio-color: #000000;
  --bg-prime-color: #ffffff;
  --bg-second-color: #f5f4fa;
  --text-prime-color: #757575;
  --text-second-color: #212121;
  --text-accent-color: #2196f3;
  --botton-prime-color: #f5f4fa;
  --border-color: #eeeeee;
  --link-footer-color: rgba(255, 255, 255, 0.6);
  --hero-footer-color: #2f303a;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* ========== HEADER======= */
.logo {
  color: var(--logo-studio-color);
  text-decoration: none;
}
.blue {
  color: var(--text-accent-color);
}

/* ====SITE NAV==== */
.site-nav .link {
  color: var(--text-second-color);
}
.site-nav .link.current {
  color: var(--text-accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--text-accent-color);
}

/* === КОНТАКТЫ  === */
.contakt-header .link {
  color: var(--text-prime-color);
}
.contakt-header .link:hover,
.contakt-header .link:focus {
  color: var(--text-accent-color);
}
/* ===========  HEADER FIN  ====== */

/* ===  MAIN  === */
/* ===  HERO  === */
.hero-img {
  background-color: var(--hero-footer-color);
}
.hero-title {
  font-size: 44px;
  font-weight: 900;
  color: #ffffff;
}
.hero.btn {
  color: #ffffff;
  background-color: var(--text-accent-color);
  /* ===  HERO-FIN  === */
}
/* ===  ВСЕ СЕКЦИИ  === */
.title {
  color: var(--text-second-color);
}
/* ===  СЕКЦИЯ ОСОБЕННОСТИ  === */
/* .hidden {
  color: rgb(255, 221, 221);
} */
.nuanse-title {
  font-family: ;
}

/* === СЕКЦИЯ ЧЕМ МЫ ЗАНИМАЕМСЯ === */

/* === СЕКЦИЯ КОМАНДА === */
.section.team {
  background-color: var(--bg-second-color);
}
.team-title {
  font-family: ;
}
.txt-content {
  font-family: ;
}
/* === MAIN FIN === */
/* === FOOTER === */
.footer {
  background-color: var(--hero-footer-color);
}
/* .div-footer {
  background-color: #2f303a;
} */
.logo-footer {
  color: #ffffff;
}
/* === ADDRESS  === */
.address {
  font-style: normal;
}
.address-content {
  color: var(--bg-prime-color);
}
.contact-footer .link {
  color: rgba(255, 255, 255, 0.6);
}
.contact-footer .link:hover,
.contact-footer .link:focus {
  color: var(--text-accent-color);
}
/* === FOOTER FIN === */

/* === PORTFOLIO PAGE */
/* === КНОПКИ ПОРТФОЛИО  === */
.work-list {
}
.btn-work {
  color: var(--text-prime-color);
  background-color: var(--botton-prime-color);
}
.btn-work:hover,
.btn-work:focus {
  background-color: var(--text-accent-color);
}
/* ===  РАБОТЫ  === */
.portfolio-title {
}
.portfolio-content {
  color: var(--text-second-color);
}
/* ===  FIN  === */
